{% extends "./base.html" %}


{% block content %}
<br>

A list of all your uploaded photos:

<div>
<table border="1">
  <tbody>
  <tr>
    <th>Photo</th>
    <th>Details</th>
    <th>Action</th>
  </tr>
  {% for p in photos %}
  <tr>
    <td><img src="{{ p.path }}" width="200" height="150" alt="{{ p.name }}" /></td>
    <td>
      <table>
	<tr><td>{{ p.name }}</td></tr>
	<tr><td>{{ p.time }}</td></tr>
	<tr><td>{{ p.username }}</td></tr>
	<tr><td>{{ p.lat }}</td></tr>
	<tr><td>{{ p.lng }}</td></tr>
	<tr><td>{{ p.desc }}</td></tr>
	<tr><td>{{ p.tags }}</td></tr>
      </table>
    </td>
    <td>
      <form action="/main/demo_photo_edit">
	<input type="hidden" name="pid" value="{{ p.pid }}"/>
	<input type="hidden" name="myusername" value="{{ myusername }}"/>
	<input type="submit" name="submit" value="Edit"/>
	<br>
	<input type="submit" name="delete" value="Delete"/>
      </form>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
